
<div class="grid-row-main">
  <form  method="get" action="/items">
    <input class ="Main-button" type="submit" value="All Current Inventory"/>
  </form>
  <form method="get" action="/manuf">
    <input class ="Main-button" type="submit" value="All My Brands"/>
  </form>
  <form method="get" action="/tools/markup">
    <input class ="Main-button" type="submit" value="Inventory & Sales Tools"/>
  </form>
</div>
</br>
</br>
<!-- <img class="logo" src="/images/GreenAdventuresRUs-logo.png" style="width:200px;" alt="Green AdventuresRUs Mountain Logo"> -->
</br>
</br>
</br>
</br>
<div class="index-pix">
  <img class="logo" src="/images/Brn_SnoAdventuresRUs.png" style="width:100px;" alt="Brown AdventuresRUs Mountain Logo">
  <img src="/images/RMNP-ThunderLake.jpg" style="height:150px;" alt="Thunder Lake in Rocky Mountain NP, Colorado">
  <img class="logo" src="/images/Brn_SnoAdventuresRUs.png" style="width:100px;" alt="Brown AdventuresRUs Mountain Logo">
  <img src="/images/crestedbutte.jpg" style="height:150px;" alt="Crested Butte, Colorado">
  <img class="logo" src="/images/Brn_SnoAdventuresRUs.png" style="width:100px;" alt="Brown AdventuresRUs Mountain Logo">
  <img src="/images/tetons.jpg" style="height:150px;" alt="Tetons, Wyoming">
  <img class="logo" src="/images/Brn_SnoAdventuresRUs.png" style="width:100px;" alt="Brown AdventuresRUs Mountain Logo">
  <!-- <img src="/images/breck.jpg" style="height:150px;" alt="Crystal Lake, Breckenridge, Colorado">
  <img class="logo" src="/images/Brn_SnoAdventuresRUs.png" style="width:150px;" alt="Brown AdventuresRUs Mountain Logo">
  <img src="/images/sangredecristos.jpg" style="height:150px;" alt="Sangres, Colorado"> -->
</div>
