<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/style.css'>
  <title>Warehouser</title>

</head>
<body>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/items">Inventory</a></li>
      <li><a href="/manuf">Brands</a></li>
      <li><a href="/tools/markup">Tools</a></li>
    </ul>
  </nav>

  <header class="header">
    <img class="logohead" style="height:80px;" src="/images/Brn_SnoAdventuresRUs.png" alt="Brown AdventuresRUs Mountain Logo">
    <div class="headtext">
      <h1>Adventures-R-Us <h1><em>Warehouser</em><h1></h1>
      <h4>The smart way to manage inventory and optimize sales</h4>
    </div>
    <img class="logohead2" style="height:80px;" src="/images/Brn_SnoAdventuresRUs.png" alt="Brown AdventuresRUs Mountain Logo">
  </header>

<%= yield %>

</body>
</html>
