body {
  background: #A4C3B2;
  color: #F6FFF8;
  font-family: "Avant Garde", sans-serif;
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

.header {
  display: flex;
  margin: 10px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background: #6B9080;
  color: #F6FFF8;
  border-radius: 5px;
}


h2 {
  display: flex;
  justify-content: center;
  color: #F6FFF8;
  background: #776258;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  padding: 5px;
  font-weight: lighter;
  /* font-size: 16px; */
}

.index-pix {
  display: flex;
  padding: 20px;
  margin: 20px;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* border: 1px solid #776258; */
  border-radius: 5px;
  background: #6B9080;
}

.grid-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  text-align: center;
}

.grid-row-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  align-items: center;
  text-align: center;
}
.Main-button {
  color: #EAF4F4;
  background-color: #776258;
  font-size: 24px;
  font-family: "Avant Garde", sans-serif;
  padding: 10px;
  justify-content: space-around;
}
.Main-button:hover, .Main-button:active {
  background: #CCE3DE;
  color: #6B9080;
}

.info-button {
  color: #EAF4F4;
  background-color: #6B9080;
  font-family: "Avant Garde", sans-serif;
  padding: 5px;
  font-size: 16px;
}
.info-button:hover, .info-button:active {
  background: #776258;
}

.new-button {
  color: #EAF4F4;
  background-color: #6B9080;
  border: 1px solid #F6FFF8;
  font-size: 18px;
  font-family: "Avant Garde", sans-serif;
  padding: 10px;
  margin: 10px;
}

.new-button:hover, .new-button:active {
    background: #776258;
}


nav ul {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  padding: 10px;
  background-color: #776258;
  /* border: 1px solid #EAF4F4; */
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

li {
  list-style-type: none;
}

/* this is the best way to style links! */
li a, li a:link, li a:visited {
  text-decoration: none;
  color: #F6FFF8;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

li a:hover, li a:active, li a:focus {
background: #CCE3DE;
color: #6B9080;
}

table {
  border-collapse: collapse;
  background-color: #CCE3DE;
  margin-left: auto;
  margin-right: auto;
}


th {
  border: 1px solid #EAF4F4;
  padding: 10px;
  background-color: #6B9080;
}

td {
  border: 1px solid #EAF4F4;
  padding: 10px;
  color: #6B9080;
}

tr:hover {
  /* deep taupe!  */
  /* background: #776258; */
  background: #F6FFF8;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.myform {
background-color: #6B9080;
border-radius: 5px;
width: 60%;
padding: 20px;
margin-left: auto;
margin-right: auto;
}

.myform-row {
  margin-bottom: 40px;
  display: block;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  flex-wrap: wrap;
  /* border-radius: 5px; */
}

.myform-row input[type='text'] {
  background-color: #F6FFF8;
  border-radius: 5px;
  width: 30%;
  padding: 5px;
  font-size: 16px;
}

.myform-row input[type='number'] {
  background-color: #F6FFF8;
  border-radius: 5px;
  width: 30%;
  padding: 5px;
  font-size: 16px;
}

.myform-row select {
  background-color: #F6FFF8;
  border-radius: 5px;
  width: 30%;
  padding: 5px;
  font-size: 16px;
}

.myform-row input[type='submit'] {
  background-color: #F6FFF8;
  color: black;
  border: 2px solid #776258;
  border-radius: 5px;
  width: 40%;
  padding: 5px;
  font-size: 16px;
  /* find a way to center this button! */
}
.myform-row input[type='submit']:hover{
  background: #776258;
}

.myform-row input[type='submit']:hover{
  color: #F6FFF8;
}
